extends layout

block content
  h1 Heroku Gauge
  p Let's get setup!
  ol
    li.inactive
      p Login with your Heroku account ✔️
    li
      p Which app do you want to visualize?
      ol
        each app in apps
          li
            a(href="/3?app=#{app.name}")= app.name
            |  (#{app.organization ? app.organization.name : "Personal App"})
    li.inactive
      p Which device do you have?
    li.inactive
      p Setup device
