extends layout

block content
  h1 Internet Connected Heroku Art
  p Let's get setup!
  ol
    li
      p
        a(href=oauthUrl) Login
        |  with your Heroku account
    li.inactive
      p Choose a Heroku app whose data to show on device
    li.inactive
      p Select your device type
    li.inactive
      p Setup device
