extends layout

block content
  h1 Internet Connected Heroku Art
  p Here's an example of what you're setting up
  div
    img(src="http://via.placeholder.com/300.gif?text=Animated+GIF+of+device+showing+data")
  div
    img(src="http://via.placeholder.com/750x150.png?text=Diagram+showing+how+it+works")
  a(href="/1")
    button Get Started
