extends layout

block content
  h1 Heroku Gauge
  p Let's get setup!
  ol
    li
      p
        a(href=oauthUrl) Login
        |  with your Heroku account
    li.inactive
      p What app do you want to visualize?
    li.inactive
      p Which device do you have?
    li.inactive
      p Setup device
