extends layout

block content
  h1 Internet Connected Heroku Art
  p Let's get setup!
  ol
    li.inactive
      p Login with your Heroku account ✔️
    li.inactive
      p What app do you want to visualize? ✔️
    li
      p Which device do you have?
      ol
        each device in devices
          li
            a(href="/4?app=#{app}&device=#{device}")= device
    li.inactive
      p Setup device
