extends layout

block content
  h1 Internet Connected Heroku Art
  p Let's get setup!
  ol
    li.inactive
      p Login with your Heroku account ✔️
    li.inactive
      p What app do you want to visualize? ✔️
    li.inactive
      p Which device do you have? ✔️
    li
      p Setup device
        p Ok! Here are the steps to setup your device.
        ol
          li
            p Plug it in to power (wall adapter or other USB power source).
          li
            p Configure its wifi connection as instructed and input this app's name when asked
            pre= host
          li Show it off on your desk, a shelf, or the wall!
        button It's working!
        span
          | 
          a(href="") (help me, something's not working right)
